NEXT_PUBLIC_API_URL="http://localhost:7000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SENTRY_DSN="your-sentry-dsn"
NEXT_PUBLIC_GA_ID="your-google-analytics-id"

NEXT_PUBLIC_ENV=development
